# AUTH DB (MYSQL)

AUTH_DB_NAME=nexus-core_auth_service
AUTH_DB_USER=nexus-core_auth_user
AUTH_DB_PASSWORD=changeme
AUTH_DB_ROOT_PASSWORD=changeme
AUTH_DB_PORT=3306


# USER DB(POSTGRESQL)
USER_DB_NAME=nexus-core_user_service
USER_DB_USER=nexus-core_user 
USER_DB_PASSWORD=changeme
USER_DB_PORT=5432


# CHAT DB (MONGODB)
MONGO_INITDB_ROOT_USERNAME=nexus-core_chat
MONGO_INITDB_ROOT_PASSWORD=changeme
MONGO_PORT=27017

# REDIS
REDIS_PORT=6379


# RABBITMQ
RABBITMQ_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672


# GATEWAY
GATEWAY_PORT=4000
NODE_ENV=production